@font-face {
    font-family:"Yekan" ;
    font-weight: 400;
    font-style: normal;
    src: url("./assets/fonts/Yekan/Yekan.woff") format("woff"),
         url("./assets/fonts/Yekan/Yekan.ttf") format("ttf"),
         url("./assets/fonts/Yekan/Yekan.eot") format("eot");
}
@font-face {
    font-family:"Yekan" ;
    font-weight: 700;
    font-style: normal;
    src: url("./assets/fonts/Yekan/Yekan.woff") format("woff"),
         url("./assets/fonts/Yekan/Yekan.ttf") format("ttf"),
         url("./assets/fonts/Yekan/Yekan.eot") format("eot");
}

body,
button,
input,
textarea,
.badge{
    font-family: "Yekan" , sans-serif;

}